.chat-side {
  width: 300px;
  color: white;
  float: left;
  .side-header {
    height: 100px;
    padding: 0 20px;
    background-color: #253141;
    display: flex;
    align-items: center;
    &__box {
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      width: 100%;
      &__menu {
        display: flex;
        li {
          margin-left: 0.3rem;
          a {
            color: white;
          }

        }
      }
    }
  }
  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    overflow: scroll;
    .group {
      color: white;
      text-decoration: none;
      margin-bottom: 40px;
      &__group-name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__latest-message {
        font-size: 11px;
      }
    }
  }
}